.account-settings {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.account-settings .account-settings-address {
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin: 2rem 0;
}

.account-settings .account-settings-address span {
  padding-left: 1rem;
  margin-bottom: -.4rem;
}

.account-settings .account-settings-address .network-logo {
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 4rem;
}

.account-settings .account-settings-address .network-logo img {
  display: block;
  width: 100%;
}
